
html:has(.toggle__checkbox:checked) {
    --color-background: #121212; 
    --color-text: #e0e0e0; 
    --color-box-img: #1db954; 
    --color-link-bg: #1db954; 
    --color-gray: #2c2c2c; 
    --color-input-border: #3d3d3d; 
  
  
    .bio__pic {
      display: none;
    }
  
    .bio__pic2 {
      display: block;
      width: 42.7rem;
    }
  
    .contact__social {
      filter: invert(85%) brightness(110%); 
    }
  
    .footer {
      border-color: #3d3d3d; 
    }
  
    .projects__links::after{
      filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(120deg) brightness(100%);
    
    }
  }
  